body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.N {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
nav {
    float: right;
}

img {
    width: 100%;
}
